body
{
    font-size: 24px;
    color: mintcream;
    padding-top: 175px;
    padding-left: 200px;
    padding-bottom: 100px;
    background: black;
    background-size: 100%;
}

#headerWrapper
{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#footerWrapper
{
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#footer
{
    padding: 20px;
    overflow: hidden;
    background-size: 100%;
}

.titleBanner
{
    color: mintcream;
    padding: 25px;
    font-family: Arial, sans-serif;
    font-size: 36px;
    clear: both;
    background-size: 100%;
    background: black;
}

.titleBanner a
{
    font-family: Arial, sans-serif;
    font-size: 36px;
    text-decoration: none;
}

#navbar
{
    padding: 15px;
    padding-bottom: 0;
    color: white;
    overflow: hidden;
    background-size: 100%;
}

.navbar-left, #footer #staffPortalContainer
{
    float: left;
    display: inline-block;
    margin-right: 30px;
}

#navbar #searchFormContainer, #footer #contactUsContainer
{
    float: right;
    display: inline-block;
}

#sidebar
{
    left: 0;
    top: 172px;
    float: left;
    position: fixed;
    overflow: hidden;
    clear: both;
    height: 100%;
}

a
{
    font-size: 24px;
    color: honeydew;
}

button
{
    padding: 15px;
    margin: 5px;
    font-size: 24px;
}

.updateInvButton, .shipOrderButton, .stopPromoBtn
{
    font-size: 18px;
}

input
{
    margin: 5px;
    font-size: 24px;
}

input[type="checkbox"]
{
    -webkit-transform: scale(2,2);
    transform: scale(2,2);
}

a:hover
{
    color: white;
}

#sidebar ul
{
    padding: 0;
    margin: 0;
}
#sidebar li
{
    padding: 20px;
    font-size: 24px;
    color: mintcream;
    list-style-type: none;
}

div.alert
{
    padding: 5px;
    background: red;
    text-align: center;
}

table
{
    margin: 10px;
    clear: both;
}

table a
{
    font-size: 20px;
}

th, td
{
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

hr
{
    color: mintcream;
}

#promoTable th, table.separated td, table.separated th
{
    border-bottom: 2px solid mintcream;
}

#promoTable td.bordered
{
    border-bottom: 2px solid mintcream;
    text-align: left;
}

#slogan
{
    float: right;
    font-size: 22px;
    font-style: italic;
}

img
{
    background: black;
}