body
{

}

#headerWrapper
{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

.titleBanner
{
    background: darkcyan;
    color: mintcream;
    padding: 25px;
    font-family: Arial, sans-serif;
    font-size: 36px;
    clear: both;
}

#navbar
{
    padding: 15px;
    background: cadetblue;
    color: white;
    overflow: hidden;
}

#navbar #signInContainer
{
    float: left;
    display: inline-block;
}

#navbar #searchFormContainer
{
    float: right;
    display: inline-block;
}

