<div id="headerWrapper">
    <div id="navbar">
        <div id="signInContainer">
            <a href="http://cs405-ggjl.rhcloud.com/signIn" id="signInLink">Sign In/Register</a>
        </div>
        <div id="searchFormContainer">
            <form id="searchForm" method="get" action="http://cs405-ggjl.rhcloud.com/shopping/keywordSearch">
                <label for="searchBar">Search: </label>
                <input type="text" name="keyword" id="searchBar" />
            </form>
        </div>
    </div>
    <div class="titleBanner">
        RetroniX
    </div>
</div>
